#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ff0000;
  background-color: #e21818;
  /* margin-top: 60px; */
}

body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
